{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="css/normalize.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Laboratory tracking website</title>
</head>
<body>
    <div id="particles-js">

<div class="home">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{%static 'img/Mlogo.png'%}" alt="">
            </div>
            <ul class="nav_links">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="{%url 'EditLabs'%}"><i class="fa-solid fa-pen-to-square"></i>Edit</a></li>
                <li><a href="{%url 'Report'%}"><i class="fa-solid fa-screwdriver-wrench"></i>Problem</a></li>
            </ul>
        </div>
        <div class="text">
            <h1>Laboratory tracking website<br>Simple tracking system</h1>
        </div>
        <div class="buttons">
            <div class="left">
                <div class="text">
                    <h1>Laboratoray</h1>
                </div>
                <div class="btns">
                    <button><a href="{%url 'AddLab'%}">Add New</a></button>
                    <button><a href="{%url 'ListLab'%}">Show All</a></button>
                </div>
            </div>
            <div class="right">
                <div class="text">
                    <h1>PC's</h1>
                </div>
                <div class="btns">
                    <button><a href="{%url 'AddPC'%}">Add New</a></button>
                    <button><a href="{%url 'PcsList'%}">Show All</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
{%endblock content%}