{%load static%}
{%block content%}
<html>
    <head>
        <title>Add PC</title>
        <link rel="stylesheet" href="{%static 'css/new_html.css'%}">
        <link rel="stylesheet" href="{%static 'css/navbar.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="home">
            <div class="navbar">
                <ul class="nav_links">
                    <li><a href="{%url 'LabH'%}"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="{%url 'EditLabs'%}"><i class="fa-solid fa-pen-to-square"></i>Edit</a></li>
                    <li><a href="{%url 'Report'%}"><i class="fa-solid fa-screwdriver-wrench"></i>Report a problem</a></li>
                    <li><a href="{%url 'AddLab'%}"><i class="fa-solid fa-circle-plus"></i>Add Lab</a></li>
                    <li><a href="{%url 'ListLab'%}"><i class="fa-solid fa-laptop"></i>Show Lab</a></li>
                        <li><a href="{%url 'AddPC'%}"><i class="fa-solid fa-circle-plus"></i>Add PC</a></li>
                        <li><a href="{%url 'PcsList'%}"><i class="fa-solid fa-list"></i>Show PC</a></li>
                </ul>
                </div>
        </div>
        <br>
        <br>
        <h1 align="center" class="header">Adding new PC</h1>
        <form class="paragraph" onsubmit="checkForm();" method="post">
            {% csrf_token %}
            <b>PC ID:</b><br>
            <input type="number" id="pc_id" name="PCID"><br>
            <b>laboratory id:</b><br>
            <input type="number" id="lab_id" name = "LabID"><br>
            <b>status of PC:</b><br>
            <input type="radio" name="status" id="stat_1" value="Active">active<br>
            <input type="radio" name="status" id="stat_2" value="Under Maintenance">under maintenance<br>
            <br><input type="submit">
        </form>
    <script src="{%static 'js/new_html.js'%}"></script>
    </body>
</html>
{%endblock content%}